*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(29, 3, 66);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    border-bottom: 1px dotted white;
}
.img-path{
    width: 50%;
    /* height: 100%; */
}
.logo{
    width: 10%;
    display: flex;
    align-items: center;
}
.menu-btn{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-btn p{
    font-size: 22px;
}
.sing-in{
    width: 10%;
    display: flex;
    align-items: center;
}
.com-btn{
    border: 2px solid white;
    padding: 8px 20px;
    font-size: 22px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 70px;
    height: 90vh;
}
.text-part{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-part p{
    font-size: 18px;
}

.text-part h1{
    font-size: 80px;
    font-weight: 500;
}
.img-part{
    width: 45%;
}
.img-part img{
    width: 100%;
}
.explore{
    display: flex;
    justify-content: space-between;
}